.content .content-add-form {
    width: 550px;
    height: auto;
    margin: auto;
    background-color: antiquewhite;
    padding: 50px;
    border-radius: 10px;
}

#map {
    height: 300px;
    width: auto;
}
