html {
    font-size: 16px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    opacity: 1.6;
    min-width: 320px;

}
body::after {
  content: "";
  background: #46aa43 url(https://images.pexels.com/photos/13334106/pexels-photo-13334106.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=1);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color:#555
}

.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.top-menu li a::after {
    content:"";
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all, 0.3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
}

.content {

    margin-top: 100px;
}

   .layer1, .layer2 {
    background: #F2EFE6;
    border: 1px solid #B25538;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
   }

   .left_part {
    width: 70%;
    text-align: center
   }
    .right_part {
    width: 20%;
    font-size: 20px;
    text-align: justify;
   }
