.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.content .center{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.content .row {

}