{% extends "homeless_animals/base.html" %}

{% block title %}
    <title>About us</title>
{% endblock %}

{% block content %}
     <div class="layer1 left_part">
    <h1>Contacts</h1>
    <div class="entry-content">
        <p><strong>Contacts</strong></p>
<p>Tel .: +38 093 193 40 69&nbsp;</p>
<p>from 8.00 till 22.00 (Monday - Sunday)</p>
<p><strong>e-mail: </strong>homeless_animals@gmail.com</p>
<p><br><br>Before you buy a dog or cat, just look at the map. It hosts many faithful friends. You will find the one to love and take care of. They are different: big, small, ready to protect you anytime, friendly, lazybones, and restless. Whenever you adopt a pet, you save the three: a pet you give home, another homeless pet that will find a vacant place in the shelter, and a Human in your heart. Adopt, don’t shop, cause the true friendship is priceless! </p>
</div>
</div>
{% endblock %}