{% extends "homeless_animals/base.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="../../static/css/show_animals.css">
{% endblock %}

{% block title %}
    <title>Show animals</title>
{% endblock %}

{% block content %}
    <form action="upload/" method="POST" class="content-show-form">
        <lable>Choose what animals do you want to see</lable>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-secondary">Search for animals</button>
    </form>
{% endblock %}
