{% extends "homeless_animals/base.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="../../static/css/show_animals.css">
{% endblock %}

{% block content %}
{#    <nav>#}
{#    <ul>#}
{#        {% for p in page_obj.paginator.page_range %}#}
{#            <li>#}
{#                <a href="?page={{ p }}">{{ p }}</a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    </nav>#}

    <div class="pagination center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <div class="row">
        {% for contact in page_obj %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <img src= "../../static/{{ contact.photo }}" alt="Image does not found" width=100%>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">index: {{ contact.id }}</li>
                            <li class="list-group-item">last update: {{ contact.last_updated }}</li>
                            <li class="list-group-item">city: {{ contact.city }}</li>
                            <li class="list-group-item">species: {{ contact.species }}</li>
                        </ul>
                    </div>
                    <a href="http://127.0.0.1:8000/{{ contact.id }}" class="btn btn-secondary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ contact.full_name|upper }}<br>
{% endblock %}
