{% extends "homeless_animals/base.html" %}
{% block title %}
    <title>
        Registration
    </title>
{% endblock %}

{% block content %}

    <div class="grid text-left">
        <div class="layer1 left_part">
            <h1>
                Мap of homeless animals
            </h1>
            <hr>
            <div id="map" style="height: 700px; width: 1200px;"></div>
        </div>
         <div class="layer2 right_part">&#160;&#160;&#160;&#160;Before you buy a dog or cat, just look at the map. It hosts many
             faithful friends. You will find the one to love and take care of. They are different: big, small, ready
             to protect you anytime, friendly, lazybones, and restless. Whenever you adopt a pet, you save the three:
             a pet you give home, another homeless pet that will find a vacant place in the shelter, and a Human in
             your heart. Adopt, don’t shop, cause the true friendship is priceless!
         </div>
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                const uluru = {lat: 50.45053219765232, lng: 30.46395687458102};

                // The map, centered at Uluru
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 13,
                    center: uluru,

                });

                // ajax call
                function ajaxCall() {
                    $.ajax({
                        // Our sample url to make request
                        url:
                            '/api/v1/animals/',
                        // Type of Request
                        type: "GET",
                        // Function to call when to
                        // request is ok
                        success: function (data) {
                            var x = data;
                            let list_res = []
                            for (let i = 0; i < x['animals'].length; i++) {
                                if (x['animals'][i]['status'] === 'DONE')
                                    {
                                    list_res.push([
                                      x['animals'][i]['coordinates'],
                                      x['animals'][i]['species'],
                                      x['animals'][i]['id']
                                                  ]);
                                    }
                              }
                            console.log(data);
                            db_markers = list_res
                            var index;
                            for (index = db_markers.length - 1; index >= 0; --index) {
                                addMarker(db_markers[index][0], db_markers[index][1], db_markers[index][2])}
                        },
                        // Error handling
                        error: function (error) {
                            console.log(`Error ${error}`);}
                    });}
                ajaxCall();

                function addMarker(coordinates, title, id) {
                    var marker = new google.maps.Marker({
                        position: coordinates,
                        title: title,
                        id: id,
                        map: map,
                        url: '<a href="http://127.0.0.1:8000/' + id + '">Show animal</a>'
                    });
                       const infoWindow = new google.maps.InfoWindow({
                    content: "",
                    disableAutoPan: true,
                  });
                  const labels = marker.url;

                marker.addListener("click", () => {
                      infoWindow.setContent(labels);
                      infoWindow.open(map, marker);
                    });
                }



            }


            window.initMap = initMap;
        </script>
        <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFILT2NLze2t6r-6GJLSvDC1wR7iE8beM&callback=initMap">
        </script>

    </div>
{% endblock %}